#fancybox-content { max-width:525px; }
#fancybox-content .woocommerce-Reviews { padding:20px; }
#fancybox-content .comment-notes { font-size:12px; }
#fancybox-content .comment-form-rating select { width:100%; padding:2px; font-family: "Noto Sans",sans-serif; font-size:14px;}
#fancybox-content .form-submit input[type="submit"] { width:auto; }
#fancybox-content label { padding-bottom:7px; }




















